<div class="row" style="margin-top: 10px; margin-left: 10px;border-style: solid; border-width: 1px; margin-right: 10px; padding: 10px; border-color: #d3d3d3;border-radius: 5px;">
  <div class="col s12">
    <a href="#"></a>
    <img src="assets/image/978-0132350884.jpg" style="max-height: 100px">
    <p style="margin-top: 10px"><span class="grey-text">Name: </span>Demo Book</p>
    <p style="margin-top: 10px"><span class="grey-text">Copy: </span>4</p>
    <button style="margin-top: 15px" class="btn-small white black-text">Remove</button>
    <button style="margin-top: 15px; margin-left: 15px" class="btn-small light-blue white-text">Open</button>

  </div>
</div>

