<div class="section">
  <div class="container">
    <div class="row center">
      <div class="col s12">
        <h1>BookStore</h1>
      </div>
    </div>

    <div class="row center">
      <div class="col offset-xl3 xl6 offset-m2 m8 offset-s0 s12">
        <div class="card white">
          <div class="card-content grey-text">
            <span class="card-title">Enter the name of a book or user...</span>

            <div class="row">
              <div class="col s8">
                <div class="input-field">
                  <input id="mytext" type="text">
                  <label for="mytext">Suche...</label>
                </div>
              </div>
              <div class="col s4">
                <button class="btn waves-effect waves-light blue" style="margin-top: 25px; width: 100%" type="submit" name="action">Suche
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
            <span class="card-title">...or scan a bar code.</span>

            <p>I am a very simple card. I am good at containing small bits of information.
               I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
